version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=odoo_db
    ports:
      - "5433:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U odoo -d odoo_db"]
      interval: 5s
      retries: 5

  web:
    image: odoo:18
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    command: >
      odoo
      --config=/etc/odoo/odoo.conf
      --db-filter=^odoo_db$
      --init=base,web,mail
      --without-demo=all


volumes:
  odoo-web-data:
  odoo-db-data:
